* {
	box-sizing: border-box;
	font-family: 'VT323', monospace;
}

#container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10%;
}

#chore-rpg-view{
	display: flex;
	flex-direction: row;
	align-items: center;
	min-width: 40vw;
	height: 30vh;
	outline: 2px solid black;
	padding: 0;
	border: 0;
	margin: 0;
}

#leftComponent{
	width: 70%;
}

#rightComponent{
	width: 30%;
	height: 100%;
	margin: 0;
	padding:0;
	border:0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-left: 2px solid black;
}

.stat-info{
	text-align: center;
	padding-left: 10px;
	font-size: 2.5vh;
}
.btn{
	padding: 1vh;
	margin: 10px;
	width: 40%;
	outline: 2px solid black;
	text-align: center;
	font-size: 2.5vh;
	user-select: none;

}

.btn:hover{
	background: black;
	color: white;
	cursor: pointer;
}